
body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 65px 0px 83px 68px;padding: 0px;border: none;width: 726px;}

#page_1 #p1dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:663px;height:934px;}
#page_1 #p1dimg1 #p1img1 {width:663px;height:934px;}




#page_2 {position:relative; overflow: hidden;margin: 65px 0px 83px 68px;padding: 0px;border: none;width: 726px;}

#page_2 #p2dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:663px;height:916px;}
#page_2 #p2dimg1 #p2img1 {width:663px;height:916px;}




#page_3 {position:relative; overflow: hidden;margin: 64px 0px 83px 68px;padding: 0px;border: none;width: 663px;}





#page_4 {position:relative; overflow: hidden;margin: 62px 0px 83px 68px;padding: 0px;border: none;width: 726px;}

#page_4 #p4dimg1 {position:absolute;top:3px;left:0px;z-index:-1;width:663px;height:916px;}
#page_4 #p4dimg1 #p4img1 {width:663px;height:916px;}




#page_5 {position:relative; overflow: hidden;margin: 65px 0px 83px 68px;padding: 0px;border: none;width: 726px;}

#page_5 #p5dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:663px;height:926px;}
#page_5 #p5dimg1 #p5img1 {width:663px;height:926px;}




#page_6 {position:relative; overflow: hidden;margin: 65px 0px 83px 68px;padding: 0px;border: none;width: 726px;}

#page_6 #p6dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:666px;height:904px;}
#page_6 #p6dimg1 #p6img1 {width:666px;height:904px;}




#page_7 {position:relative; overflow: hidden;margin: 1002px 0px 83px 68px;padding: 0px;border: none;width: 658px;}





.dclr {clear:both;float:none;height:1px;margin:0px;padding:0px;overflow:hidden;}

.ft0{font: bold 20px 'Times New Roman';line-height: 23px;}
.ft1{font: bold 17px 'Times New Roman';line-height: 19px;}
.ft2{font: 16px 'Times New Roman';color: #000080;line-height: 19px;}
.ft3{font: 16px 'Times New Roman';line-height: 19px;}
.ft4{font: bold 19px 'Times New Roman';line-height: 22px;}
.ft5{font: 16px 'Times New Roman';margin-left: 4px;line-height: 19px;}
.ft6{font: 1px 'Times New Roman';line-height: 1px;}
.ft7{font: 1px 'Times New Roman';line-height: 3px;}
.ft8{font: 16px 'Times New Roman';line-height: 18px;}
.ft9{font: 1px 'Times New Roman';line-height: 18px;}
.ft10{font: italic 16px 'Times New Roman';line-height: 19px;}
.ft11{font: bold 16px 'Times New Roman';line-height: 17px;}
.ft12{font: 16px 'Times New Roman';margin-left: 17px;line-height: 19px;}
.ft13{font: bold 16px 'Times New Roman';margin-left: 17px;line-height: 19px;}
.ft14{font: bold 16px 'Times New Roman';line-height: 19px;}
.ft15{font: bold 16px 'Times New Roman';line-height: 18px;}
.ft16{font: 16px 'Times New Roman';background-color: #cccccc;line-height: 19px;}
.ft17{font: italic 16px 'Times New Roman';line-height: 18px;}
.ft18{font: 1px 'Times New Roman';line-height: 5px;}
.ft19{font: italic 16px 'Times New Roman';color: #323e4f;line-height: 18px;}
.ft20{font: 1px 'Times New Roman';line-height: 6px;}
.ft21{font: italic 16px 'Times New Roman';color: #595959;line-height: 19px;}
.ft22{font: italic 16px 'Times New Roman';color: #595959;line-height: 18px;}
.ft23{font: 1px 'Times New Roman';line-height: 7px;}
.ft24{font: 16px 'Times New Roman';line-height: 17px;}
.ft25{font: italic 16px 'Times New Roman';color: #323e4f;line-height: 19px;}
.ft26{font: italic 16px 'Times New Roman';color: #808080;background-color: #deeaf6;line-height: 19px;}
.ft27{font: italic 16px 'Times New Roman';color: #808080;line-height: 19px;}
.ft28{font: italic 16px 'Times New Roman';color: #808080;background-color: #deeaf6;line-height: 18px;}
.ft29{font: italic 16px 'Times New Roman';background-color: #ffccff;line-height: 19px;}
.ft30{font: italic 16px 'Times New Roman';line-height: 17px;}
.ft31{font: 1px 'Times New Roman';line-height: 17px;}
.ft32{font: italic 16px 'Times New Roman';background-color: #ffccff;line-height: 17px;}
.ft33{font: 15px 'Times New Roman';line-height: 17px;}
.ft34{font: 16px 'Times New Roman';margin-left: 3px;line-height: 19px;}
.ft35{font: 16px 'Times New Roman';margin-left: 4px;line-height: 18px;}
.ft36{font: 16px 'Times New Roman';margin-left: 3px;line-height: 18px;}
.ft37{font: 16px 'Times New Roman';margin-left: 12px;line-height: 19px;}
.ft38{font: 16px 'Times New Roman';margin-left: 12px;line-height: 18px;}
.ft39{font: 15px 'Times New Roman';margin-left: 13px;line-height: 17px;}
.ft40{font: bold 15px 'Times New Roman';line-height: 17px;}
.ft41{font: 16px 'Times New Roman';margin-left: 19px;line-height: 19px;}
.ft42{font: 16px 'Times New Roman';margin-left: 19px;line-height: 18px;}
.ft43{font: 15px 'Times New Roman';margin-left: 19px;line-height: 17px;}

.p0{text-align: left;padding-left: 195px;margin-top: 73px;margin-bottom: 0px;}
.p1{text-align: left;padding-left: 249px;margin-top: 0px;margin-bottom: 0px;}
.p2{text-align: left;padding-left: 181px;margin-top: 36px;margin-bottom: 0px;}
.p3{text-align: left;padding-left: 286px;margin-top: 23px;margin-bottom: 0px;}
.p4{text-align: left;padding-left: 300px;margin-top: 5px;margin-bottom: 0px;}
.p5{text-align: left;padding-left: 8px;margin-top: 30px;margin-bottom: 0px;}
.p6{text-align: left;padding-left: 8px;margin-top: 6px;margin-bottom: 0px;}
.p7{text-align: left;padding-left: 8px;margin-top: 5px;margin-bottom: 0px;}
.p8{text-align: left;padding-left: 8px;margin-top: 7px;margin-bottom: 0px;}
.p9{text-align: left;padding-left: 8px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p10{text-align: right;padding-right: 8px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p11{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p12{text-align: right;padding-right: 16px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p13{text-align: left;padding-left: 6px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p14{text-align: right;padding-right: 7px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p15{text-align: left;padding-left: 7px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p16{text-align: right;padding-right: 41px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p17{text-align: left;padding-left: 8px;margin-top: 2px;margin-bottom: 0px;}
.p18{text-align: left;padding-left: 8px;margin-top: 9px;margin-bottom: 0px;}
.p19{text-align: left;padding-left: 8px;margin-top: 8px;margin-bottom: 0px;}
.p20{text-align: left;padding-left: 8px;margin-top: 13px;margin-bottom: 0px;}
.p21{text-align: justify;padding-left: 8px;padding-right: 71px;margin-top: 22px;margin-bottom: 0px;}
.p22{text-align: left;padding-right: 68px;margin-top: 11px;margin-bottom: 0px;}
.p23{text-align: justify;padding-left: 8px;padding-right: 71px;margin-top: 1px;margin-bottom: 0px;}
.p24{text-align: left;padding-left: 8px;margin-top: 17px;margin-bottom: 0px;}
.p25{text-align: justify;padding-left: 8px;padding-right: 70px;margin-top: 24px;margin-bottom: 0px;}
.p26{text-align: left;padding-left: 8px;margin-top: 24px;margin-bottom: 0px;}
.p27{text-align: left;padding-left: 8px;margin-top: 23px;margin-bottom: 0px;}
.p28{text-align: left;padding-left: 56px;padding-right: 71px;margin-top: 2px;margin-bottom: 0px;text-indent: -24px;}
.p29{text-align: left;padding-left: 56px;padding-right: 71px;margin-top: 0px;margin-bottom: 0px;text-indent: -24px;}
.p30{text-align: left;padding-left: 8px;margin-top: 18px;margin-bottom: 0px;}
.p31{text-align: left;padding-left: 32px;margin-top: 1px;margin-bottom: 0px;}
.p32{text-align: left;padding-left: 32px;margin-top: 0px;margin-bottom: 0px;}
.p33{text-align: left;padding-left: 52px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p34{text-align: left;padding-left: 132px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p35{text-align: left;padding-left: 11px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p36{text-align: right;padding-right: 69px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p37{text-align: center;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p38{text-align: left;padding-right: 68px;margin-top: 20px;margin-bottom: 0px;}
.p39{text-align: right;padding-right: 68px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p40{text-align: left;padding-left: 49px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p41{text-align: left;padding-right: 5px;margin-top: 39px;margin-bottom: 0px;}
.p42{text-align: justify;padding-left: 8px;padding-right: 71px;margin-top: 8px;margin-bottom: 0px;}
.p43{text-align: left;padding-left: 8px;margin-top: 49px;margin-bottom: 0px;}
.p44{text-align: left;padding-left: 8px;padding-right: 80px;margin-top: 8px;margin-bottom: 0px;}
.p45{text-align: left;padding-left: 8px;padding-right: 128px;margin-top: 4px;margin-bottom: 0px;}
.p46{text-align: left;padding-right: 68px;margin-top: 25px;margin-bottom: 0px;}
.p47{text-align: left;padding-left: 8px;padding-right: 90px;margin-top: 1px;margin-bottom: 0px;}
.p48{text-align: left;padding-left: 8px;margin-top: 55px;margin-bottom: 0px;}
.p49{text-align: justify;padding-left: 8px;padding-right: 71px;margin-top: 3px;margin-bottom: 0px;}
.p50{text-align: left;padding-left: 8px;margin-top: 32px;margin-bottom: 0px;}
.p51{text-align: left;padding-left: 8px;margin-top: 0px;margin-bottom: 0px;}
.p52{text-align: justify;padding-left: 8px;padding-right: 87px;margin-top: 17px;margin-bottom: 0px;}
.p53{text-align: left;padding-left: 8px;padding-right: 73px;margin-top: 17px;margin-bottom: 0px;}
.p54{text-align: left;padding-left: 8px;padding-right: 235px;margin-top: 17px;margin-bottom: 0px;}
.p55{text-align: left;padding-left: 8px;padding-right: 71px;margin-top: 0px;margin-bottom: 0px;}
.p56{text-align: left;padding-left: 8px;margin-top: 46px;margin-bottom: 0px;}
.p57{text-align: left;padding-left: 8px;margin-top: 3px;margin-bottom: 0px;}
.p58{text-align: left;padding-left: 8px;margin-top: 21px;margin-bottom: 0px;}
.p59{text-align: left;padding-left: 56px;padding-right: 71px;margin-top: 19px;margin-bottom: 0px;text-indent: -24px;}
.p60{text-align: left;padding-left: 56px;margin-top: 0px;margin-bottom: 0px;}
.p61{text-align: left;padding-left: 56px;padding-right: 70px;margin-top: 0px;margin-bottom: 0px;text-indent: -24px;}
.p62{text-align: left;padding-left: 8px;padding-right: 113px;margin-top: 29px;margin-bottom: 0px;}
.p63{text-align: left;padding-left: 12px;margin-top: 17px;margin-bottom: 0px;}
.p64{text-align: left;padding-left: 36px;margin-top: 0px;margin-bottom: 0px;}
.p65{text-align: left;padding-left: 12px;margin-top: 0px;margin-bottom: 0px;}
.p66{text-align: left;padding-left: 36px;padding-right: 71px;margin-top: 0px;margin-bottom: 0px;text-indent: -24px;}
.p67{text-align: left;padding-left: 36px;padding-right: 71px;margin-top: 1px;margin-bottom: 0px;text-indent: -24px;}
.p68{text-align: left;padding-left: 5px;margin-top: 99px;margin-bottom: 0px;}
.p69{text-align: left;padding-left: 5px;margin-top: 30px;margin-bottom: 0px;}
.p70{text-align: left;padding-left: 25px;margin-top: 18px;margin-bottom: 0px;}
.p71{text-align: left;padding-left: 260px;margin-top: 0px;margin-bottom: 0px;}
.p72{text-align: left;padding-left: 5px;margin-top: 57px;margin-bottom: 0px;}
.p73{text-align: left;padding-left: 259px;margin-top: 0px;margin-bottom: 0px;}
.p74{text-align: left;padding-left: 5px;margin-top: 56px;margin-bottom: 0px;}
.p75{text-align: left;padding-left: 29px;margin-top: 18px;margin-bottom: 0px;}
.p76{text-align: left;padding-left: 257px;margin-top: 0px;margin-bottom: 0px;}
.p77{text-align: left;padding-right: 68px;margin-top: 76px;margin-bottom: 0px;}
.p78{text-align: left;margin-top: 0px;margin-bottom: 0px;}

.td0{padding: 0px;margin: 0px;width: 300px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 97px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 51px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 65px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 118px;vertical-align: bottom;}
.td6{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 175px;vertical-align: bottom;}
.td7{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 125px;vertical-align: bottom;}
.td8{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 64px;vertical-align: bottom;}
.td9{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 33px;vertical-align: bottom;}
.td10{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
.td11{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 51px;vertical-align: bottom;}
.td12{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 65px;vertical-align: bottom;}
.td13{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 118px;vertical-align: bottom;}
.td14{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 364px;vertical-align: bottom;}
.td15{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 83px;vertical-align: bottom;}
.td16{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 183px;vertical-align: bottom;}
.td17{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 174px;vertical-align: bottom;}
.td18{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 124px;vertical-align: bottom;}
.td19{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 31px;vertical-align: bottom;}
.td20{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 115px;vertical-align: bottom;}
.td21{padding: 0px;margin: 0px;width: 64px;vertical-align: bottom;}
.td22{padding: 0px;margin: 0px;width: 33px;vertical-align: bottom;}
.td23{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 64px;vertical-align: bottom;}
.td24{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 174px;vertical-align: bottom;}
.td25{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 124px;vertical-align: bottom;}
.td26{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 31px;vertical-align: bottom;}
.td27{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 64px;vertical-align: bottom;}
.td28{border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #cccccc 1px solid;padding: 0px;margin: 0px;width: 133px;vertical-align: bottom;background: #cccccc;}
.td29{border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #cccccc 1px solid;padding: 0px;margin: 0px;width: 414px;vertical-align: bottom;background: #cccccc;}
.td30{border-top: #000000 1px solid;border-bottom: #cccccc 1px solid;padding: 0px;margin: 0px;width: 114px;vertical-align: bottom;background: #cccccc;}
.td31{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 133px;vertical-align: bottom;background: #ffccff;}
.td32{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 414px;vertical-align: bottom;background: #ffccff;}
.td33{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 114px;vertical-align: bottom;background: #ffccff;}
.td34{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 133px;vertical-align: bottom;background: #ffccff;}
.td35{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 414px;vertical-align: bottom;background: #ffccff;}
.td36{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 114px;vertical-align: bottom;background: #ffccff;}
.td37{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 133px;vertical-align: bottom;}
.td38{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 414px;vertical-align: bottom;}
.td39{padding: 0px;margin: 0px;width: 114px;vertical-align: bottom;}
.td40{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 133px;vertical-align: bottom;}
.td41{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 414px;vertical-align: bottom;}
.td42{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 114px;vertical-align: bottom;}
.td43{border-left: #000000 1px solid;border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 132px;vertical-align: bottom;}
.td44{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 114px;vertical-align: bottom;}
.td45{border-left: #000000 1px solid;border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 132px;vertical-align: bottom;}
.td46{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 114px;vertical-align: bottom;}
.td47{border-left: #000000 1px solid;border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 132px;vertical-align: bottom;background: #bdd6ee;}
.td48{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 414px;vertical-align: bottom;background: #bdd6ee;}
.td49{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 114px;vertical-align: bottom;background: #bdd6ee;}
.td50{border-left: #000000 1px solid;border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 132px;vertical-align: bottom;background: #bdd6ee;}
.td51{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 414px;vertical-align: bottom;background: #bdd6ee;}
.td52{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 114px;vertical-align: bottom;background: #bdd6ee;}
.td53{border-left: #000000 1px solid;border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 132px;vertical-align: bottom;background: #deeaf6;}
.td54{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 414px;vertical-align: bottom;background: #deeaf6;}
.td55{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 114px;vertical-align: bottom;background: #deeaf6;}
.td56{border-left: #000000 1px solid;border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 132px;vertical-align: bottom;background: #deeaf6;}
.td57{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 414px;vertical-align: bottom;background: #deeaf6;}
.td58{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 114px;vertical-align: bottom;background: #deeaf6;}
.td59{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 133px;vertical-align: bottom;background: #ffccff;}
.td60{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 414px;vertical-align: bottom;background: #ffccff;}
.td61{padding: 0px;margin: 0px;width: 114px;vertical-align: bottom;background: #ffccff;}

.tr0{height: 21px;}
.tr1{height: 3px;}
.tr2{height: 18px;}
.tr3{height: 24px;}
.tr4{height: 26px;}
.tr5{height: 5px;}
.tr6{height: 6px;}
.tr7{height: 22px;}
.tr8{height: 7px;}
.tr9{height: 17px;}
.tr10{height: 19px;}
.tr11{height: 23px;}

.t0{width: 663px;margin-top: 2px;font: 16px 'Times New Roman';}
.t1{width: 663px;margin-top: 3px;font: 16px 'Times New Roman';}
.t2{width: 663px;font: 16px 'Times New Roman';}
.t3{width: 663px;font: italic 16px 'Times New Roman';}
